#map {
    height: 65vh;
    width: 75vw;

}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}
.col {
    display: flex;
    flex-direction: column ;
    flex-wrap: nowrap
}

.node {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}
#bigram-lister {
    overflow: scroll;
    width: 20vw;
    height: 60vh;
    padding: 0.5em;
}
#timeline {
    overflow: scroll;
    width: 100%;
    position: absolute;
}

.node text { font: 12px sans-serif; }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
.tooltip {
    position: absolute;			
    text-align: center;											
    padding: 1em;				
    font: 12px sans-serif;		
    background: lightsteelblue;		
    border-radius: 0.5em;			

}
	