#map {
    height: 600px;

}
.row {
    display: flexbox;
    flex-direction: row;
}
.col {
    display: flexbox;
    flex-direction: column ;
}

.node {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

#timeline {
    overflow: scroll;
    width: 100%;
    position: absolute;
}

.node text { font: 12px sans-serif; }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
